body{
    padding: 0;
    margin: 0;
   }
   form{
    max-width: 25em;
    margin: 1em auto;
   }

   .demo-tab-group {
    border: 1px solid #e8e8e8;
  }
  
  .demo-tab-content {
    padding: 16px;
  }
  
  .mat-tab-label-active{
    background-color: red ;
    opacity: 1 !important;
  }

  div {
    background-color: white;
    width: 1000px;
    height: 550px;
    border: 10px solid teal;
    padding: 50px;
    margin-top: 10px;
    margin-left: 150px;
  }
  
  